{
    "extends": "wesbos",
    "rules": {
        "react/no-unescaped-entities": "off",
        "@next/next/no-page-custom-font": "off",
        "react/prop-types": "off",
        "react/destructuring-assignment": "off",
        "jsx-a11y/label-has-associated-control": "off",
        
    }
}